<?xml version="1.0" encoding="utf-8"?>

<!--
Whack-A-Pede
David A. Clark, Jr.
Integrated Product Development
MDV4910-O, C202006-01
-->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twilightcitizen.whack_a_pede">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_whack_a_pede_placeholder"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_whack_a_pede_placeholder"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.GameActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>